In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\pavilion\appdata\local\programs\python\python310\lib\site-packages)

In [3]:
df = pd.read_excel('KPMG.xlsx', sheet_name='Transactions')
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [4]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [5]:
df['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [6]:
df['online_order']=df['online_order'].fillna(method='ffill')

In [7]:
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [8]:
df['brand']=df['brand'].fillna(method='ffill')

In [9]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [10]:
df['product_line']=df['product_line'].fillna(method='bfill')

In [11]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [12]:
df['product_size']=df['product_size'].fillna(method='ffill')

In [13]:
df['standard_cost'].mean()

556.0469512209312

In [14]:
df['standard_cost']=df['standard_cost'].fillna(df['standard_cost'].mean())

In [15]:
df['product_first_sold_date']=df['product_first_sold_date'].fillna(df['product_first_sold_date'].mean())

In [16]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Length: 20000, dtype: bool

In [17]:
cleaned_transactions = pd.DataFrame({
        "transaction_id": df["transaction_id"],
        "product_id": df["product_id"],
        "customer_id": df["customer_id"],
        "transaction_date": df["transaction_date"],
        "online_order": df["online_order"],
        "order_status": df["order_status"],
        "brand": df["brand"],
        "product_line": df["product_line"],
        "product_class": df["product_class"],
        "product_size": df["product_size"],
        "list_price": df["list_price"],
        "standard_cost": df["standard_cost"],
        "product_first_sold_date": df["product_first_sold_date"]
    })
cleaned_transactions.to_csv('./cleaned_transactions.csv', index=False)
print(cleaned_transactions.head(10))

   transaction_id  product_id  customer_id transaction_date  online_order  \
0               1           2         2950       2017-02-25           0.0
1               2           3         3120       2017-05-21           1.0
2               3          37          402       2017-10-16           0.0
3               4          88         3135       2017-08-31           0.0
4               5          78          787       2017-10-01           1.0
5               6          25         2339       2017-03-08           1.0
6               7          22         1542       2017-04-21           1.0
7               8          15         2459       2017-07-15           0.0
8               9          67         1305       2017-08-10           0.0
9              10          12         3262       2017-08-30           1.0

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large
5     Approved  Giant Bicycles         Road        medium       medium
6     Approved        WeareA2B     Standard        medium       medium
7     Approved        WeareA2B     Standard        medium       medium
8     Approved           Solex     Standard        medium        large
9     Approved        WeareA2B     Standard        medium       medium

   list_price  standard_cost  product_first_sold_date
0       71.49          53.62                  41245.0
1     2091.47         388.92                  41701.0
2     1793.43         248.82                  36361.0
3     1198.46         381.10                  36145.0
4     1765.30         709.48                  42226.0
5     1538.99         829.65                  39031.0
6       60.34          45.26                  34165.0
7     1292.84          13.44                  39915.0
8     1071.23         380.74                  33455.0
9     1231.15         161.60                  38216.0