In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('KPMG.xlsx', sheet_name='NewCustomerList')
df.head()

C:\Users\Pavilion\AppData\Local\Temp/ipykernel_8040/2139439545.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df=pd.read_excel('KPMG.xlsx', sheet_name='NewCustomerList')

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [3]:
df.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [4]:
df['last_name']=df['last_name'].fillna(method='ffill')

In [5]:
df['DOB']=df['DOB'].fillna(method='ffill')

In [6]:
df['job_title'].value_counts()

Associate Professor         15
Environmental Tech          14
Software Consultant         14
Chief Design Engineer       13
Assistant Manager           12
                            ..
Accountant II                1
Programmer IV                1
Administrative Officer       1
Accounting Assistant III     1
Web Developer I              1
Name: job_title, Length: 184, dtype: int64

In [7]:
df['job_title']=df['job_title'].fillna(method='bfill')

In [8]:
df['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [9]:
df['job_industry_category']=df['job_industry_category'].fillna(method='bfill')

In [10]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [11]:
cleaned_NewCustomerList = pd.DataFrame({
        "first_name": df["first_name"],
        "last_name": df["last_name"],
        "gender": df["gender"],
        "past_3_years_bike_related_purchases": df["past_3_years_bike_related_purchases"],
        "DOB": df["DOB"],
        "job_title": df["job_title"],
        "job_industry_category": df["job_industry_category"],
        "wealth_segment": df["wealth_segment"],
        "deceased_indicator": df["deceased_indicator"],
        "owns_car": df["owns_car"],
        "tenure": df["tenure"],
        "address": df["address"],
        "postcode": df["postcode"],
        "state": df["state"],
        "country": df["country"],
        "property_valuation": df["property_valuation"],
        "Rank": df["Rank"],
        "Value": df["Value"]
    })
cleaned_NewCustomerList.to_csv('./cleaned_NewCustomerList.csv', index=False)
print(cleaned_NewCustomerList.head(10))

  first_name  last_name  gender  past_3_years_bike_related_purchases  \
0    Chickie    Brister    Male                                   86
1      Morly     Genery    Male                                   69
2    Ardelis  Forrester  Female                                   10
3     Lucine      Stutt  Female                                   64
4    Melinda     Hadlee  Female                                   34
5      Druci    Brandli  Female                                   39
6   Rutledge      Hallt    Male                                   23
7     Nancie       Vian  Female                                   74
8       Duff  Karlowicz    Male                                   50
9    Barthel     Docket    Male                                   72

         DOB                     job_title job_industry_category  \
0 1957-07-12               General Manager         Manufacturing
1 1970-03-22           Structural Engineer              Property
2 1974-08-28        Senior Cost Accountant    Financial Services
3 1979-01-28    Account Representative III         Manufacturing
4 1965-09-21             Financial Analyst    Financial Services
5 1951-04-29       Assistant Media Planner         Entertainment
6 1976-10-06          Compensation Analyst    Financial Services
7 1972-12-27  Human Resources Assistant II                Retail
8 1972-04-28            Speech Pathologist         Manufacturing
9 1985-08-02       Accounting Assistant IV                    IT

      wealth_segment deceased_indicator owns_car  tenure  \
0      Mass Customer                  N      Yes      14
1      Mass Customer                  N       No      16
2  Affluent Customer                  N       No      10
3  Affluent Customer                  N      Yes       5
4  Affluent Customer                  N       No      19
5     High Net Worth                  N      Yes      22
6      Mass Customer                  N       No       8
7      Mass Customer                  N      Yes      10
8      Mass Customer                  N      Yes       5
9      Mass Customer                  N      Yes      17

                 address  postcode state    country  property_valuation  Rank  \
0       45 Shopko Center      4500   QLD  Australia                   6     1
1      14 Mccormick Park      2113   NSW  Australia                  11     1
2    5 Colorado Crossing      3505   VIC  Australia                   5     1
3     207 Annamark Plaza      4814   QLD  Australia                   1     4
4      115 Montana Place      2093   NSW  Australia                   9     4
5  89105 Pearson Terrace      4075   QLD  Australia                   7     6
6      7 Nevada Crossing      2620   NSW  Australia                   7     6
7       85 Carioca Point      4814   QLD  Australia                   5     8
8         717 West Drive      2200   NSW  Australia                  10     8
9   80 Scofield Junction      4151   QLD  Australia                   5    10

      Value
0  1.718750
1  1.718750
2  1.718750
3  1.703125
4  1.703125
5  1.671875
6  1.671875
7  1.656250
8  1.656250
9  1.640625