In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('KPMG.xlsx', sheet_name='CustomerDemographic')
df.head()

C:\Users\Pavilion\AppData\Local\Temp/ipykernel_21688/3918280635.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df=pd.read_excel('KPMG.xlsx', sheet_name='CustomerDemographic')

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0

In [3]:
df.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [4]:
df['last_name']=df['last_name'].fillna(method='ffill')

In [5]:
df['DOB']=df['DOB'].fillna(method='ffill')

In [6]:
df['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [7]:
df['job_title']=df['job_title'].fillna(method='bfill')

In [8]:
df['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [9]:
df['job_industry_category']=df['job_industry_category'].fillna(method='ffill')

In [10]:
df['tenure'].mean()

10.65704063378482

In [11]:
df['tenure']=df['tenure'].fillna(df['tenure'].mean())

In [12]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3995    False
3996    False
3997    False
3998    False
3999    False
Length: 4000, dtype: bool

In [13]:
cleaned_CustomerDemographic = pd.DataFrame({
        "customer_id": df["customer_id"],
        "first_name": df["first_name"],
        "last_name": df["last_name"],
        "gender": df["gender"],
        "past_3_years_bike_related_purchases": df["past_3_years_bike_related_purchases"],
        "DOB": df["DOB"],
        "job_title": df["job_title"],
        "job_industry_category": df["job_industry_category"],
        "wealth_segment": df["wealth_segment"],
        "deceased_indicator": df["deceased_indicator"],
        "owns_car": df["owns_car"],
        "tenure": df["tenure"]
    })
cleaned_CustomerDemographic.to_csv('./cleaned_CustomerDemographic.csv', index=False)
print(cleaned_CustomerDemographic.head(10))

   customer_id      first_name  last_name  gender  \
0            1         Laraine  Medendorp       F
1            2             Eli    Bockman    Male
2            3           Arlin     Dearle    Male
3            4          Talbot     Dearle    Male
4            5  Sheila-kathryn     Calton  Female
5            6            Curr  Duckhouse    Male
6            7            Fina     Merali  Female
7            8             Rod      Inder    Male
8            9            Mala       Lind  Female
9           10        Fiorenze    Birdall  Female

   past_3_years_bike_related_purchases        DOB  \
0                                   93 1953-10-12
1                                   81 1980-12-16
2                                   61 1954-01-20
3                                   33 1961-10-03
4                                   56 1977-05-13
5                                   35 1966-09-16
6                                    6 1976-02-23
7                                   31 1962-03-30
8                                   97 1973-03-10
9                                   49 1988-10-11

                              job_title job_industry_category  \
0                   Executive Secretary                Health
1                Administrative Officer    Financial Services
2                    Recruiting Manager              Property
3                         Senior Editor                    IT
4                         Senior Editor                    IT
5                       Media Manager I                Retail
6                       Media Manager I    Financial Services
7                       Media Manager I    Financial Services
8  Business Systems Development Analyst           Argiculture
9               Senior Quality Engineer    Financial Services

      wealth_segment deceased_indicator owns_car  tenure
0      Mass Customer                  N      Yes    11.0
1      Mass Customer                  N      Yes    16.0
2      Mass Customer                  N      Yes    15.0
3      Mass Customer                  N       No     7.0
4  Affluent Customer                  N      Yes     8.0
5     High Net Worth                  N      Yes    13.0
6  Affluent Customer                  N      Yes    11.0
7      Mass Customer                  N       No     7.0
8  Affluent Customer                  N      Yes     8.0
9      Mass Customer                  N      Yes    20.0