In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('KPMG.xlsx', sheet_name='CustomerAddress')
df.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [3]:
df.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [4]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3994    False
3995    False
3996    False
3997    False
3998    False
Length: 3999, dtype: bool

In [5]:
cleaned_CustomerAddress = pd.DataFrame({
        "customer_id": df["customer_id"],
        "address": df["address"],
        "postcode": df["postcode"],
        "state": df["state"],
        "country": df["country"],
        "property_valuation": df["property_valuation"]
    })
cleaned_CustomerAddress.to_csv('./cleaned_CustomerAddress.csv', index=False)
print(cleaned_CustomerAddress.head(10))

   customer_id                  address  postcode            state    country  \
0            1       060 Morning Avenue      2016  New South Wales  Australia
1            2      6 Meadow Vale Court      2153  New South Wales  Australia
2            4       0 Holy Cross Court      4211              QLD  Australia
3            5      17979 Del Mar Point      2448  New South Wales  Australia
4            6         9 Oakridge Court      3216              VIC  Australia
5            7         4 Delaware Trail      2210  New South Wales  Australia
6            8      49 Londonderry Lane      2650  New South Wales  Australia
7            9          97736 7th Trail      2023  New South Wales  Australia
8           11     93405 Ludington Park      3044              VIC  Australia
9           12  44339 Golden Leaf Alley      4557              QLD  Australia

   property_valuation
0                  10
1                  10
2                   9
3                   4
4                   9
5                   9
6                   4
7                  12
8                   8
9                   4